@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Ranchers&display=swap');

.App {
  /* text-align: center; */
  display: flexbox;
  flex-direction: row;
  font-family: 'Kaushan Script', cursive;

  /* align-content: space-between;  */
  
}

/* .App-logo {
  height:5vmin;
  pointer-events: none;
  z-index:0;
  width: 500px;
  height: 300px;
  text-align: center;
 
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: url('./assets/amlogo.png');
  background-origin: content-box;
  background-repeat: repeat-y;
  background-position-x: right;
  background-size: contain;
 text-align: center;
  opacity: .9;
  /* background-color: bisque; */
  min-height:80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  /* text-shadow: goldenrod; */
  margin-top: auto 10px; 
}

.App-link {
  color: #61dafb;
}

Label {
  font-size: 30px;
  color: Black;
}
 
Form{
  text-align: center;
  margin: 0px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.nav {
  list-style: none;
  text-decoration-line: none;  
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;

}

.sitename{
  text-shadow: 1px 1px 2px green, 0 0 1em beige, 0 0 0.2em white;;
}


.logo {
  padding: 5px;
  width: 150px;
  height: 75px;
  /* opacity: .8; */
  border-radius: 20px;
  vertical-align: middle;
}

 

.loginform, .registerform {
 justify-content:center;
 background-color: lightgray;
 opacity: .7;
 color: black;
 font-family: 'Kaushan Script', cursive;
 padding: 1%;
 
}

p {
  justify-content:center;
  color: black;
  font-family: 'Kaushan Script', cursive;
  padding: 5px;
  
 }

h1 h3 {
  color: black;
  font-family: 'Kaushan Script', cursive;
}

 